h2 {
  font-size: 46.6px;
}

h4 {
  font-size: 21.96px;
}

h6 {
  font-size: 13.5px;
  font-family: 'HankenGrotesk';
  font-weight: 300;
}

p {
  font-size: 17.2px;
  letter-spacing: 0.1em;
  font-weight: 300;
}

body h2,
body h4,
body h6,
body p {
  color: #1e1e1e;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 500;
}

@font-face {
  font-family: 'PPRightSerifMono';
  src: url('fonts/PPRightSerifMono-Fine.otf') format('opentype');
}
@font-face {
  font-family: 'PPRightSerifMonoRegular';
  src: url('fonts/PPRightSerifMono-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'HankenGrotesk';
  src: url('fonts/HankenGrotesk-VariableFont_wght.ttf') format('opentype');
}
.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-padding {
  padding: 50px;
}
@media (max-width: 767px) {
  .main-padding {
    padding: 20px;
  }
}

.small-letter-spacing {
  letter-spacing: 0.1em;
}

.lh-small {
  line-height: 1.6;
}

.container {
  max-width: 1600px;
}

.margin-auto {
  margin: auto;
}

.padding-y-med {
  padding: 15px 0;
}

.padding-x-med {
  padding: 0 15px;
}

.padding-large {
  padding: 35px 0;
}

.width-25 {
  width: 25%;
}
@media (min-width: 767px) {
  .width-25 {
    width: 330px;
  }
}

.flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 2;
}

.section {
  width: 16.667%;
}
.section.active {
  width: 66.67%;
}
@media (max-width: 1440px) {
  .section.active {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .section {
    width: 48%;
  }
}

@media (max-width: 1400px) {
  .flex-wrap-wrap {
    flex-wrap: wrap;
  }
}

.margin-large {
  margin: 50px 0;
}

.margin-auto-large {
  margin: 80px auto;
}

.margin-med {
  margin: 30px 0;
}

.bar-height {
  height: 1px;
}

.bg-grey,
.progress-bar.bg-grey {
  background-color: #dbdbdb;
}

.active .background-black {
  background-color: #000;
}
.active .image-small {
  width: 350px;
  height: 450px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.font-color-black {
  color: #1e1e1e;
}

.progress-padding {
  padding: 18px 0;
}

.heading-bottom-margin {
  margin-bottom: 35px;
}

.font-mono {
  font-family: 'PPRightSerifMono', sans-serif;
}

.font-normal {
  font-weight: 500;
}

.body-font {
  font-family: 'HankenGrotesk';
}

.body-font-size {
  font-size: 12.9px;
}

.font-regular {
  font-family: 'PPRightSerifMonoRegular', sans-serif;
}

.image-small {
  height: 285px;
}

.font_small {
  font-size: 12px;
}

.font_xl {
  font-size: 34.92px;
}

.gap_xl {
  gap: 150px;
}
@media (max-width: 1024px) {
  .gap_xl {
    gap: 50px;
  }
}

.gap-25 {
  gap: 25px;
}

.active_section .active-hidden {
  display: none;
} /*# sourceMappingURL=style.css.map */
